body {
    background-color: rgb(181, 181, 241);
}

header {
    background-color:rgb(124, 124, 220);
    position: fixed;
    top: 0px;
    z-index: 100;
}

a {
    color: powderblue;
}

header ul {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 30px;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header li {
    padding-left: 35px;
}

#glavni {
    position: absolute;
    top: 95px;
}

.container {
    display: grid;
    justify-self: stretch;
    gap: 10px 10px;
    padding: 10px;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    
}

.obavezni, .neIde, .izborni {
    width: 200px;
    padding: 20px;
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.obavezni {
    background-color: white;
}

.neIde {
    background-color: gray;
}

.izborni {
    background-color: powderblue;
}

img {
    width: 89px;
    height: 50px;
    object-fit: contain;
    border: solid blueviolet;
}

h3 {
    font-size: 40px;
    color: rgb(56, 56, 218);
}

h4 {
    font-size: 25px;
    color: rgb(124, 124, 220);
}