body {
    background-color: rgb(181, 181, 241);
}

html {
    scroll-padding: 7rem;
}

header {
    background-color:rgb(124, 124, 220);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

a {
    color: powderblue;
}

header ul {
    /*margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 30px;*/
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

header li {
    padding-left: 35px;
}

@media(max-width:500px) {
    header {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
    }
    header ul {
        font-size: 8px;
        display:list-item;
        list-style-type: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #glavni {
        position: absolute;
        top: 100px;
        left: 50px;
    }
    #glavni h3 {
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(56, 56, 218);
    }
    #glavni h4 {
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(124, 124, 220);
    }
}

@media screen and (min-width:501px) and (max-width: 800px){ 
    header {
        position: fixed;
        top: 5px;
        left: 0px;
        right: 0px;
        z-index: 100;
    }
    header ul {
        font-size: 5px;
        display:inline-block;
        vertical-align: top;
        list-style-type: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /*#glavni {
        position: absolute;
        top: -50px;
        left: 50px;
    }*/
    #glavni h3 {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(56, 56, 218);
    }
    #glavni h4 {
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(124, 124, 220);
    }
}

.container {
    display: grid;
    /*justify-content: space-evenly;*/
    gap: 10px 10px;
    padding: 10px;
    /*margin-left: 10px;
    margin-right: 10px;*/
    /*grid-template-columns: repeat(auto-fill,220px) minmax(220px, auto);*/
    grid-template-columns: repeat(auto-fit,200px);
   
    /*grid-template-rows: minmax(100px,auto);*/
}

.obavezni, .neIde, .izborni {
    /*width: 200px;*/
    height: 100px;
    padding: 10px;

    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.obavezni {
    background-color: white;
}

.neIde {
    background-color: gray;
}

.izborni {
    background-color: powderblue;
}

img {
    width: 89px;
    height: 50px;
    object-fit: contain;
    border: solid blueviolet;
}

h3 {
    padding-top: 95px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(56, 56, 218);
}

h4 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(124, 124, 220);
}